body {
  font-family: sans-serif;
  font-size: 1.3rem;
  background-color: #fff3db;
}

h1 {
  background-color: #f02425;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

h2 {
  color: #f02425;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.5rem;
}

ul,
ol {
  margin-left: 0.5rem;
}

p {
  margin-left: 0.2rem;
}

strong {
  color: #f02425;
}

em {
  font-style: normal;
  color: #f02425;
}

a {
  color: #4ea1d9 !important;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #3597e2 !important;
}

.underline {
  display: inline;
  color: #4ea1d9 !important;
  text-decoration: underline;
}

.astuce {
  width: 99%;
  margin: auto;
  padding: 0.2rem 0;
  background-color: #fed48a;
  text-align: center;
  color: #666666;
  font-style: italic;
  font-weight: bold;
}
